@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=SUSE:wght@100..800&display=swap');

/* Container holding the groups */
#groupsContainer {
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px;
  align-items: flex-start;
}

.group-title{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  color: #DCE1DE;
}

/* Individual group styling */
.group {
  margin: 0 auto;
  margin-bottom: 35px;
  width: 300px;
  min-height: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Ensure tasks within each group are stacked in a column */
  overflow-y: auto;
  background: #216869;
  text-align: center;
  position: relative;
  border-radius: 20px;
}

/* Task container within a group */
.task-card {
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80%;
  background-color: #9CC5A1;
  border-radius: 15px;
}

/* Other task card styles remain the same */
.task-card.selected {
  background-color: #7fa483;
}

.task-card:hover {
  background-color: #739477;
}

.task-card.done {
  background-color: #acb0ae;
  color: #5a5e5c;
}

.task-card.done.selected {
  background-color: #9a9d9c;
  color: #4d504f;
}

.task-card.done:hover {
  background-color: #7a7e7d;
  color: #373a39;
}



/* Adjust box-sizing for all elements */
* {
  box-sizing: border-box;
}

/* Button styling */
.open-button-add, .open-button-edit, .open-button-delete, .open-button-done, .open-button-group {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  width: 280px;
}

.open-button-add {
  right: 28px;
}

.open-button-edit {
  left: 228px;
}

.open-button-delete {
  right: 128px;
}

.open-button-done {
  left: 128px;
}

.open-button-group {
  left: 28px;
}

.open-button-add:hover, .open-button-edit:hover, .open-button-delete:hover, .open-button-done:hover, .open-button-group:hover {
  opacity: 1;
}

/* Form styling */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover {
  opacity: 1;
}

.delete-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background: transparent;
  border: none;
  cursor: pointer;
  color: #f18787; /* Button color */
  font-size: 16px; /* Adjust as needed */
  transition: color 0.3s;
}

.delete-button:hover {
  color: #d37474;
}

body {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #000;
  color: #000;
}